body {
    margin: 0px;
    padding: 0px;
}

/* ESTILO PARA EL NAVBAR*/
nav {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(165, 157, 157);
}



/* ESTILO LOGO */
.logo {
    width: 200px;
    padding: 20px;
}

/* ESTILO BOTONES ( PRODUCTOS, PROMOS, NOSOTROS ) */
.sections {
    display: flex;
    list-style-type: none;
}

.sections a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

/* FOTO CARRITO FUTURO BOTON*/
.carrito {
    width: 40px;
}

/*BUSCADOR DE ITEMS CON BOTON DE LUPA */
.buscador {
    display: flex;
    align-items: center;
}

.buscador img {
    width: 25px;
    margin-right: 5px;
}