body {
    margin: 0px;
    padding: 0px;
}

/* ESTILO PARA EL NAVBAR*/
.navBar {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(165, 157, 157);
}

.navBar nav {
    display: flex;
    justify-content: space-around;
}


/* ESTILO LOGO */
.logo {
    width: 200px;
    padding: 20px;
}

/* ESTILO BOTONES ( PRODUCTOS, PROMOS, NOSOTROS ) */
.sections {
    display: flex;
    list-style-type: none;
}

.sections a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

/* FOTO CARRITO FUTURO BOTON*/
.carrito {
    width: 40px;
}

/*BUSCADOR DE ITEMS CON BOTON DE LUPA */
.buscador {
    display: flex;
    align-items: center;
}

.buscador img {
    width: 25px;
    margin-right: 5px;
}

/* ESTILO AL CONTADOR */
.contadorBox {
    border: solid 1px black;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
}

.contadorBox button {
    margin: 5px;
    width: 40px;
}